<!DOCTYPE html>

<html>
<head>
    <title> entropy </title>
</head>
<body>
    <div id="entropy">
        <input id="incoming"
        v-model="message"
        type="text"
        placeholder="put incoming string here..."/>
        <input type="button" value="Calculate!" v-on:click="calculate" />
        <h5>Alphabet:</h5><p>{{alphabet}}</p>

        <table>
            <thead>
                <th>letter</th>
                <th>frequency</th>
            </thead>
            <tbody>
                <tr v-for="freq in freqs">
                    <td>{{freq.letter}}</td>
                    <td>{{freq.freq}}</td>
                </tr>
            </tbody>
        </table>

        <h5>Entropy:</h5><p>{{entropyValue}}</p>
    </div>
</body>
<script type="text/javascript" src="vue.min.js"/></script>
<script type="text/javascript" src="entropy.js"/></script>
</html>
